.App {
  font-family: arial, sans-serif;
  text-align: center;
  align-content: center;
  background-color: black;
  position: fixed;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  user-select: none;
}

.Header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-family: arial, sans-serif;
  background-color: rgb(154, 151, 173);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: white;
  height: 10vh;
  min-height: 50px;
  padding: 0;
  z-index: 10;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  user-select: none;
}

.Content {
  position: relative;
  width: 100vw;
  top: 10vh;
  height: 90vh;
  color: white;
}

.TitleBox {
  display: flex;
  flex: 1;
  padding-left: 0.5em;
  align-items: center;
  font-size: 3vw;
  font-weight: bolder;
}
.spacer {
  display: flex;
  flex: 1;
}

.TextBox {
  display: flex;
  position: fixed;
  top: 0;
  left: 40%;
  height: 10vh;
  min-height: 50px;
  width: 20%;
  border-radius: 50%;
  font-size: max(0, 2.8vh);
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
}
.TextBox:hover {
  border: 2px solid white;
  background-color: rgba(52, 51, 59, 0.541);
}
.TextBox:active {
  background-color: rgba(52, 51, 59, 0.226);
}
.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.Overlay.drag {
  cursor: crosshair !important;
  user-select: none;
}
.rightPanel {
  user-select: none;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 2vw;
  bottom: 20vh;
  width: 5vw;
  height: 50vh;
  z-index: 10;
}
button {
  flex: 1;
  height: auto;
  width: auto;
  padding: 5;
  font-size: 22px;
  background-color: rgba(154, 151, 173, 0.541);
  border: 5px solid white;
  color: white;
  text-transform: uppercase;
}
button:hover {
  background-color: rgba(52, 51, 59, 0.541);
}
button:active {
  border: 2px solid rgba(52, 51, 59, 0.541);
  background-color: rgba(52, 51, 59, 0.226);
}
.buttonLevel {
  flex: 1;
  position: relative;
  height: auto;
  background-color: transparent;
  border: 2px solid rgb(167, 167, 167);
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: auto;
  cursor: pointer;
  margin: 2px;
}
.buttonLevelSelected {
  flex: 1;
  position: relative;
  height: auto;
  background-color: rgb(154, 151, 173);
  border: 2px solid rgb(154, 151, 173);
  color: black;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: auto;
  cursor: pointer;
  font-weight: bolder;
  margin: 2px;
}
.buttonLevelSelected:hover {
  background-color: rgba(154, 151, 173, 0.75);
  border: 2px solid rgb(154, 151, 173);
}
.buttonLevelSelected:active {
  border: 2px solid rgba(52, 51, 59, 0.541);
  background-color: rgba(52, 51, 59, 0.226);
}
.buttonLevel:hover {
  background-color: rgb(154, 151, 173, 0.25);
  border: 2px solid rgb(154, 151, 173);
}
.buttonLevel:active {
  border: 2px solid rgba(52, 51, 59, 0.541);
  background-color: rgba(52, 51, 59, 0.226);
}
.reset {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 5%;
  right: 2vw;
  background-color: rgb(154, 151, 173);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset:hover {
  background-color: rgba(154, 151, 173, 0.877);
}
.reset:active {
  background-color: rgba(154, 151, 173, 0.363);
}
.point {
  position: fixed;
  width: 10px;
  height: 10px;
  z-index: 3;
  border: 2px solid red;
  cursor: crosshair;
  user-select: none;
}
.point.drag {
  cursor: none !important;
  user-select: none;
}
.pointInactive {
  position: fixed;
  width: 10px;
  height: 10px;
  z-index: 3;
  border: 2px solid blue;
}
.switch {
  position: fixed;
  bottom: 5%;
  padding-left: 20px;
  z-index: 11;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  pointer-events: none;
  opacity: 0.5;
}
